@model SAM.Web.Models.SpendingOrigin

@{ViewBag.Title = "Editar Natureza Despesa";}

<h2>@ViewBag.Title - @Model.Description</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @min = "1", @max = "2147483647", @maxlength = "10" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityIndicator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="icheckbox_square-blue">
                    @Html.EditorFor(model => model.ActivityIndicator)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Partial("_SaveButtons")
        </div>
    </div>
}