@model SAM.Web.Models.Asset
<div class="form-group">
    @{ViewBag.Title = "Detalhes do Bem Patrimonial";}

    <h2>@ViewBag.Title - @Model.NumberIdentification </h2>

    <div class="form-horizontal">
        <hr />

        <div class="form-group cor-azul">
            <div class="col-md-12">
                <div class="col-sm-1">
                    <h4><i class="glyphicon glyphicon-th-list"></i></h4>
                </div>
                <div class="col-md-11">
                    <h4>Dados Básico</h4>
                </div>
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.InitialId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-sm-2">
                @Html.DisplayTextFor(model => model.RelatedInitial.Description)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.NumberIdentification, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-2">
                @Html.DisplayTextFor(model => model.NumberIdentification)
            </div>
        </div>

        <div class="form-group form-group-details">
            @*@Html.LabelFor(model => model.PartNumberIdentification, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.PartNumberIdentification)
                </div>*@

            @Html.LabelFor(model => model.AuxiliaryAccountId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedAuxiliaryAccount.Description)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.InstitutionId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedInstitution.Description)
            </div>
        </div>


        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.BudgetUnitId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedBudgetUnit.Description)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.ManagerUnitId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedManagementUnit.Description)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.AdministrativeUnitId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedAdministrativeUnit.Description)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.SectionId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedSection.Description)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.ResponsibleId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left col-md-5">
                @Html.DisplayTextFor(model => model.RelatedResponsible.Name)
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.MaterialGroupCode, htmlAttributes: new { @class = "control-label col-sm-3" })
            <div class="control-label-left material-code col-sm-9">
                <div class="col-sm-6">
                    @Html.DisplayTextFor(model => model.MaterialGroupCode)
                </div>
            </div>
        </div>

        @*<div class="form-group form-group-details">
                @Html.LabelFor(model => model.RelatedMaterialItem.RelatedMaterial.MaterialClassId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left material-code col-sm-9">
                    <div class="col-sm-6">
                        @Html.DisplayTextFor(model => model.RelatedMaterialItem.RelatedMaterial.RelatedMaterialClass.Code)
                        -
                        @Html.DisplayTextFor(model => model.RelatedMaterialItem.RelatedMaterial.RelatedMaterialClass.Description)
                    </div>
                </div>
            </div>*@

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.MaterialItemDescription, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left material-code col-sm-9">
                <div class="col-sm-6">
                    @Html.DisplayTextFor(model => model.MaterialItemCode)
                    -
                    @Html.DisplayTextFor(model => model.MaterialItemDescription)
                </div>
            </div>
        </div>

        <div class="form-group form-group-details">
            @Html.LabelFor(model => model.ShortDescriptionItem.Description, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="control-label-left material-code col-sm-9">
                <div class="col-sm-6">
                    @Html.DisplayTextFor(model => model.ShortDescriptionItem.Description)
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group cor-azul">
            <div class="col-md-12">
                <div class="col-sm-1">
                    <h4><i class="glyphicon glyphicon-th-list"></i></h4>
                </div>
                <div class="col-md-11">
                    <h4>Empenho</h4>
                </div>
            </div>
        </div>

        <div class="form-group">

            @*Empenho*@
            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.Empenho, "Empenho", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.Empenho)
                </div>
            </div>
            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.Gerador_Descricao, "Fornecedor", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.Gerador_Descricao)
                </div>
            </div>
            <hr />

            <div class="form-group cor-azul">
                <div class="col-md-12">
                    <div class="col-sm-1">
                        <h4><i class="glyphicon glyphicon-th-list"></i></h4>
                    </div>
                    <div class="col-md-11">
                        <h4>Dados Incorporação</h4>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.OutSourcedId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.RelatedOutSourced.Name)
                </div>

                @Html.LabelFor(model => model.IncorporationTypeId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.RelatedIncorporationType.Description)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.RelatedSupplier.Name)
                </div>

                @Html.LabelFor(model => model.InclusionDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var InclusionDate = String.Format("{0:dd/MM/yyyy}", Model.InclusionDate); }
                    @Html.DisplayTextFor(i => InclusionDate)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.ValueAcquisition, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.ValueAcquisition)
                </div>

                @Html.LabelFor(model => model.AcquisitionDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var AcquisitionDate = String.Format("{0:dd/MM/yyyy}", Model.AcquisitionDate); }
                    @Html.DisplayTextFor(i => AcquisitionDate)
                </div>
            </div>

            <div class="form-group form-group-details">


                @Html.LabelFor(model => model.ValueUpdate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.ValueUpdate)
                </div>
            </div>
            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.NumberPurchaseProcess, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.NumberPurchaseProcess)
                </div>
            </div>

            <div class="form-group form-group-details">
                @*@Html.LabelFor(model => model.NGPB, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="control-label col-md-2">
                        @Html.DisplayTextFor(model => model.NGPB)
                    </div>*@

                @Html.LabelFor(model => model.Invoice, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.Invoice)
                </div>
            </div>

            <hr />

            <div class="form-group cor-azul">
                <div class="col-md-12">
                    <div class="col-sm-1">
                        <h4><i class="glyphicon glyphicon-th-list"></i></h4>
                    </div>
                    <div class="col-md-11">
                        <h4>Dados Complementares</h4>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.SerialNumber)
                </div>

                @Html.LabelFor(model => model.ManufactureDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var ManufactureDate = String.Format("{0:dd/MM/yyyy}", Model.ManufactureDate); }
                    @Html.DisplayTextFor(i => ManufactureDate)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.DateGuarantee, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var DateGuarantee = String.Format("{0:dd/MM/yyyy}", Model.DateGuarantee); }
                    @Html.DisplayTextFor(i => DateGuarantee)
                </div>

                @Html.LabelFor(model => model.ChassiNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.ChassiNumber)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.Brand)
                </div>

                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.Model)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.NumberPlate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.NumberPlate)
                </div>

                @Html.LabelFor(model => model.AdditionalDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.AdditionalDescription)
                </div>
            </div>

            @*Insert View History here*@

            @*<div class="form-group form-group-details">*@
            @*@Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.Rating)
                </div>*@

            @*@Html.LabelFor(model => model.BagDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.BagDate)
                </div>*@
            @*</div>*@

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.OldInitial, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.OldInitial)
                </div>

                @Html.LabelFor(model => model.OldNumberIdentification, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.OldNumberIdentification)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.OldPartNumberIdentification, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.OldPartNumberIdentification)
                </div>

                @Html.LabelFor(model => model.ReceiptTermDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var ReceiptTermDate = String.Format("{0:dd/MM/yyyy}", Model.ReceiptTermDate); }
                    @Html.DisplayTextFor(i => ReceiptTermDate)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.InventoryDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var InventoryDate = String.Format("{0:dd/MM/yyyy}", Model.InventoryDate); }
                    @Html.DisplayTextFor(i => InventoryDate)
                </div>

                @Html.LabelFor(model => model.NoteGranting, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @Html.DisplayTextFor(model => model.NoteGranting)
                </div>
            </div>

            <div class="form-group form-group-details">
                @Html.LabelFor(model => model.AssigningAmountDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="control-label-left col-md-2">
                    @{   var AssigningAmountDate = String.Format("{0:dd/MM/yyyy}", Model.AssigningAmountDate); }
                    @Html.DisplayTextFor(i => AssigningAmountDate)
                </div>
            </div>

            <div class="form-group">
                @Html.Partial("_EditButtons")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        sam.transaction.controleTransacaoDetailsPadrao('@HttpContext.Current.User.Identity.Name', '@HttpContext.Current.Request.CurrentExecutionFilePath');
    </script>
}