@model SAM.Web.ViewModels.AssetViewModel

<input type="hidden" id="ModelValue" value="@Model" />

<div class="form-group">
    <label class="control-label col-md-2">Acervo</label>
    <div class="col-md-1">
        @Html.EditorFor(model => model.checkFlagAcervo, new { @class = "icheckbox_square-blue" })
    </div>
    <label class="control-label col-md-1">Terceiro</label>
    <div class="col-md-1">
        @Html.EditorFor(model => model.checkFlagTerceiro, new { @class = "icheckbox_square-blue" })
    </div>
    <label class="control-label col-md-2">Decreto SEFAZ</label>
    <div class="col-md-1">
        @Html.EditorFor(model => model.checkFlagDecretoSefaz, new { @class = "icheckbox_square-blue" })
    </div>
</div>

<div id="div_Acervo">
    <div class="form-group">
        <label class="control-label col-md-2">Valor Atual</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.ValueUpdateModel, new { maxlength = 11, htmlAttributes = new { @class = "form-control sam_moeda_updatevalue" } })
            @Html.ValidationMessageFor(model => model.ValueUpdateModel, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    @Html.LabelFor(model => model.NumberDoc, "Número de documento *", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.EditorFor(model => model.NumberDoc, new { htmlAttributes = new { @class = "form-control documento", @maxlength = 14 } })
        @Html.ValidationMessageFor(model => model.NumberDoc, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-0">
        <a class="info" data-toggle="tooltip" data-original-title="Na falta da Nota Fiscal, para cada Incorporação por Inventário, utilize o padrão Ano + Codigo da sua UGE + Sequência (Exemplo: 20172156551001...)">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
    </div>
</div>

<div class="form-group pesquisarMaterial" id="div_pesquisaItemMaterial">
    @*Material Item*@
    @Html.LabelFor(model => model.materialItemPesquisa, "Pesquisar Item Material", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.EditorFor(model => Model.materialItemPesquisa, new { htmlAttributes = new { @class = "form-control materialItemId", @maxlength = "20" } })
        @Html.ValidationMessageFor(model => Model.MaterialItemCode, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-1">
        <button type="button" id="btnConsultar" data-toggle="tooltip" data-placement="top" data-original-title="Click para consultar o item de material no SIAFISICO!" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>

<div class="form-group dadosItemMaterial">
    @Html.LabelFor(model => model.MaterialItemCode, "Item Material", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.EditorFor(model => Model.MaterialItemCode, new { htmlAttributes = new { @class = "form-control materialItemCode", @readonly = "readonly" } })
    </div>
    <div class="col-md-6">
        @Html.EditorFor(model => Model.MaterialItemDescription, new { htmlAttributes = new { @class = "form-control materialItemDescription", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @*Descrição Resumida de Item*@
    @Html.LabelFor(model => model.ShortDescriptionItemId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @*Sigla Antiga*@
    @Html.LabelFor(model => model.OldInitial, "Sigla Antiga", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.OldInitial, (SelectList)ViewBag.OldInitial, "Selecione a Sigla", new { @class = "form-control comboInitial" })
    </div>
    @*chapa Antiga*@
    @Html.LabelFor(model => model.OldNumberIdentification, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.EditorFor(model => model.OldNumberIdentification, new { htmlAttributes = new { @class = "form-control somenteNumerosInicial", @min = "1", @max = "2147483647", @maxlength = "10" } })
    </div>
    <div class="col-md-1">
        @Html.EditorFor(model => model.DiferenciacaoChapaAntiga, new { htmlAttributes = new { @class = "form-control somenteNumerosInicial", @maxlength = "7" } })
    </div>
</div>

<script>
    $(document).ready(function () {
        sam.materialItem.Load();
        sam.asset.loadModalView();
        sam.utils.init();
        // Tratamento para quando for realizado o post na pagina principal, não ser chamado novamente os mesmo eventos do check box
        if ($('#ModelValue').val() == "" || $('#ModelValue').val() == undefined || $('#ModelValue').val() == null)
        {
            sam.commun.InicializaICheck();
            if ($("#InventarioId").length == 0) {
                sam.asset.CarregaCheckBox();
            }
        }
        sam.asset.AdicionaMarscaraUpdateValue();
        sam.itemInventario.BuscaInicialPorCodigoMaterial();
    });
</script>
