@model SAM.Web.ViewModels.DadosSIAFEMValidacaoFechamentoViewModel

<style>
    .cabecalho-azul-escuro {
        background-color: #75b4d9;
    }

    .cabecalho-azul-claro {
        background-color: #ebf9fa;
    }
</style>

@if (Model.primeiraNLComErro)
{
    <div class="text-center">Devido a não-geração de NL's no sistema ContabilizaSP, o procedimento de Fechamento Mensal não poderá ser concluído. Segue(m) mensagem(ns) retornada(s) pelo sistema Contabiliza-SP:</div>
    <div class="text-center" style="border: 1px solid #000">@Model.MensagemDeErro</div>
}
else
{
    <div class="text-center">UGE teve o mês fechado.</div>
    <br />

    if (Model.gerouPendencia)
    {
        <div class="text-center">Alugmas contas geraram pendências. Segue as mensagens retornadas pelo Contabiliza:</div>

        foreach (var item in Model.LstMsgsPendencias)
        {
            <div style="border: 1px solid #000">@item</div>
            <br />
        }
    }

    <br />
    <div class="text-center"> Segue as NLs geradas. Caso as NLs não foram as esperadas, por gentileza entre em contato com a Fazenda</div>
    
    @*<table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="cabecalho-azul-escuro text-center">
                <td colspan="2"><strong>Contas de Aquisição</strong></td>
            </tr>
            <tr class="cabecalho-azul-claro text-center">
                <td>Conta Conta Contábil</td>
                <td>Valor Total da Conta</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.dadosPorContaContabil != null)
            {
                foreach (var valores in Model.dadosPorContaContabil)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(val => valores.NumeroConta)</td>
                        <td>@Html.DisplayFor(val => valores.ValorFormatado)</td>
                    </tr>
                }
            }
        </tbody>
    </table>*@
    
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="cabecalho-azul-escuro text-center">
                <td colspan="3"><strong>Depreciação no mês</strong></td>
            </tr>
            <tr class="cabecalho-azul-claro text-center">
                <td>Conta de Depreciação</td>
                <td>Depreciação Mensal</td>
                <td>Nota de Lançamento</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.dadosPorContaDepreciacao != null)
            {
                foreach (var valores in Model.dadosPorContaDepreciacao)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(val => valores.NumeroConta)</td>
                        <td>@Html.DisplayFor(val => valores.ValorFormatado)</td>
                        <td>@Html.DisplayFor(val => valores.NL)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<div class="form-group text-center botoes">
    <button type="button" class="btn btn-primary ok" data-dismiss="modal">OK</button>
</div>