@model SAM.Web.ViewModels.RelatorioInventarioFisicoViewModel

@{ViewBag.Title = "Relatório Inventário";}

@Styles.Render("~/Layout_5/css")
<h3 class="text-primary">@ViewBag.Title</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formBemPatrimonial" }))
{
    @Html.HiddenFor(model => model.Excel)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.InstitutionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.InstitutionId, (SelectList)ViewBag.Institutions, new { @class = "form-control comboinstitution" })
                @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
            </div>

            @*UO*@
            @Html.LabelFor(model => model.BudgetUnitId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.BudgetUnitId, (SelectList)ViewBag.BudgetUnits, new { @class = "form-control comboBudgetUnit" })
                @Html.ValidationMessageFor(model => model.BudgetUnitId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @*UGE*@
            @Html.LabelFor(model => model.ManagerUnitId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ManagerUnitId, (SelectList)ViewBag.ManagerUnits, new { @class = "form-control comboManagerUnit" })
                @Html.ValidationMessageFor(model => model.ManagerUnitId, "", new { @class = "text-danger" })
            </div>
            @*UA*@
            @Html.LabelFor(model => model.AdministrativeUnitId, "Unidade Administrativa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.AdministrativeUnitId, (SelectList)ViewBag.AdministrativeUnits, new { @class = "form-control selectpicker comboAdministrativeUnit" })
                @Html.EditorFor(model => model.checkRelatorio, new { htmlAttributes = new { @class = "form-control checkRelatorio", @disabled = "disabled", @type = "hidden" } })
                @*@Html.ValidationMessageFor(model => model.AdministrativeUnitId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @*Divisão*@
            @Html.LabelFor(model => model.SectionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SectionId, (SelectList)ViewBag.Sections, new { @class = "form-control selectpicker comboSection" })
            </div>
            @Html.LabelFor(model => model.MesRef, "Mês Referência", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.MesRef, (SelectList)ViewBag.MesRef, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MesRef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Agrupamento, "Agrupamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Agrupamento, (SelectList)ViewBag.Agrupamento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Agrupamento, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
                <form method="post" target="_blank">
                    <button type="submit" class="btn btn-info btnPDF" style="height: 33px"> Gerar PDF</button>
                    <button type="submit" class="btn btn-success btnExcel" style="height: 33px"> Gerar Excel</button>
                </form>
            </div>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
        sam.commun.EventoComboPeriodoPorUGE();
        $(".btnExcel").click(function () {
            $("#Excel").val(true);
        });

        $(".btnPDF").click(function () {
            $("#Excel").val(false);
        });
    });
</script>
