@model SAM.Web.ViewModels.RelatorioViewModel

@{ViewBag.Title = "Saldo Contábil Orgão";}

<h3 class="text-primary">@ViewBag.Title</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSaldoContaOrgao" }))
{
    @Html.HiddenFor(model => model.Excel)
    @Html.Hidden("EscolhaInicialmesReferencia", Model.MesRef)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.InstitutionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.InstitutionId, (SelectList)ViewBag.Institutions, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MesRef, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.MesRef, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MesRef, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"> Gerar Excel</button>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        sam.commun.CarregaComboPeriodoPorOrgao();

        if ($("#EscolhaInicialmesReferencia").val() != null && $("#EscolhaInicialmesReferencia").val() != 0) {
            $("#MesRef").val($("#EscolhaInicialmesReferencia").val());
        }

        $("#InstitutionId").change(function () {
            sam.commun.CarregaComboPeriodoPorOrgao();
        });

    });
</script>
