@model SAM.Web.Models.Institution

@{ViewBag.Title = "Editar Órgão ";}

<h2>@ViewBag.Title - @Model.Description</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ManagerCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManagerCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                @Html.ValidationMessage("CodigoJaExiste", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NameManagerReduced, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NameManagerReduced, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameManagerReduced, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Orgão Implantado?</label>
            <div class="col-md-1">
                @Html.EditorFor(model => model.flagImplantado, new { @class = "icheckbox_square-blue" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Integração SIAFEM?</label>
            <div class="col-md-1">
                @Html.EditorFor(model => model.flagIntegracaoSiafem, new { @class = "icheckbox_square-blue" })
            </div>
        </div>

        <div class="form-group">
            @Html.Partial("_SaveButtons")
        </div>
    </div>
}