@model SAM.Web.Models.Section

@{ViewBag.Title = "Exclusão de Divisão";}

<h2>@ViewBag.Title</h2>

<h3>Você tem certeza que deseja excluí-la?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AdministrativeUnitId)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAdministrativeUnit.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.ResponsibleId)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedResponsible.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Code)</dt>
        <dd>@Html.DisplayFor(model => model.Code)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.Telephone)</dt>
        <dd>@Html.DisplayFor(model => model.Telephone)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.PostalCode)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.PostalCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.Street)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.Street)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.Number)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.Number)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.ComplementAddress)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.ComplementAddress)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.District)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.District)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.City)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.City)</dd>

        <dt>@Html.DisplayNameFor(model => model.RelatedAddress.State)</dt>
        <dd>@Html.DisplayFor(model => model.RelatedAddress.State)</dd>

        <dt></dt>
        <dd>
            @Html.Partial("_DeleteButtons")
        </dd>
    </dl>
</div>
