@model SAM.Web.ViewModels.TransactionTelaViewModel

@{ViewBag.Title = "Detalhes da Transação ";}

<h2>@ViewBag.Title @Model.Sigla</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.NomeModulo)</dt>
        <dd>@Html.DisplayFor(model => model.NomeModulo)</dd>

        <dt>@Html.DisplayNameFor(model => model.DescricaoTipoTransacao)</dt>
        <dd>@Html.DisplayFor(model => model.DescricaoTipoTransacao)</dd>

        <dt>@Html.DisplayNameFor(model => model.Sigla)</dt>
        <dd>@Html.DisplayFor(model => model.Sigla)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descricao)</dt>
        <dd>@Html.DisplayFor(model => model.Descricao)</dd>

        <dt>@Html.DisplayNameFor(model => model.Caminho)</dt>
        <dd>@Html.DisplayFor(model => model.Caminho)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <br/>
        <dt></dt>
        <dd>
            <div class="form-group">
                @Html.Partial("_EditButtons")
            </div>
        </dd>
    </dl>
</div>

@section Scripts {
    <script>
        sam.transaction.controleTransacaoDetailsPadrao('@HttpContext.Current.User.Identity.Name', '@HttpContext.Current.Request.CurrentExecutionFilePath');
    </script>
}