@model PagedList.StaticPagedList<SAM.Web.ViewModels.TransactionTelaViewModel>
@using PagedList.Mvc;

@{ViewBag.Title = "Transações Cadastradas";}

@Html.Partial("_GridNewButtons")

<table class="table" id="result-tables">
    <tr>
        <th>@Html.ActionLink(HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.FirstOrDefault().NomeModulo).ToString()), "Index", new { sortOrder = ViewBag.CodeSortParm })</th>
        <th>@Html.ActionLink(HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.FirstOrDefault().Sigla).ToString()), "Index", new { sortOrder = ViewBag.CodeSortParm })</th>
        <th>@Html.ActionLink(HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.FirstOrDefault().Descricao).ToString()), "Index", new { sortOrder = ViewBag.CodeSortParm })</th>
        <th>@Html.ActionLink(HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.FirstOrDefault().DescricaoTipoTransacao).ToString()), "Index", new { sortOrder = ViewBag.CodeSortParm })</th>
        <th>@Html.ActionLink(HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.FirstOrDefault().Status).ToString()), "Index", new { sortOrder = ViewBag.CodeSortParm })</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NomeModulo)</td>
            <td>@Html.DisplayFor(modelItem => item.Sigla)</td>
            <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
            <td>@Html.DisplayFor(modelItem => item.DescricaoTipoTransacao)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td class="acoes">
                @Html.Partial("_Acoes", @item)
            </td>
        </tr>
    }
</table>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }))

@section Scripts {
    <script>
        sam.transaction.controleTransacaoIndexPadrao('@HttpContext.Current.User.Identity.Name', '@HttpContext.Current.Request.CurrentExecutionFilePath');
    </script>
}
