@{ViewBag.Title = "Bens Patrimoniais Pendentes";
 bool naoGeraExcel = ViewBag.NaoDesabilitaExcel;}
@{Html.RenderPartial("_DataTableReferenciaCss");}

<div class="col-sm-12" style="margin-top: 25px">
    <div class="col-sm-4">
        <h3 class="text-primary">@ViewBag.Title</h3>
        <hr style="margin-top: 0px" />
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formAssetPending" }))
{
    @Html.Hidden("desabilitaExcel", naoGeraExcel ? "" : "1")
    <button type="submit" id="filtroOculto" style="display: none"> </button>

    <div class="col-sm-12" style="margin-bottom: 30px;">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" id="search-tables" name="search-tables" value="@ViewBag.CurrentFilter" placeholder="Busca" class="form-control text-box input-sm single-line" onKeyPress="return sam.search.clickEnterDataTable(this,event)" />
                <span class="input-group-addon" id="spanPesquisa" style="cursor: pointer;"><i class="glyphicon glyphicon-search"> </i></span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                @Html.DropDownList("cbFiltros", (SelectList)ViewBag.Filtros, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <a class="btnExcel btn btn-info" style="background-color: #597EB7 !important; border-color: #597EB7 !important;" href="@Url.Action("GerarExcel")">
                    <i class="glyphicon glyphicon-arrow-down fa-lg Excelclass"></i> Excel
                </a>
            </div>
        </div>
    </div>

    <table class="table" id="tableAssetPending">
        <thead>
            <tr>
                <th class="text-info" data-sortable="true">Sigla</th>
                <th class="text-info" data-sortable="true">Chapa</th>
                <th class="text-info" data-sortable="true">Código de item material</th>
                <th class="text-info" data-sortable="true">Descrição de item material</th>
                <th class="text-info" data-sortable="true">UGE</th>
                <th class="text-info" data-sortable="true">UA</th>
                <th class="text-info" data-sortable="true">Valor de aquisição</th>
                <th class="text-info" data-sortable="true">Tax. depreciação mensal (%)</th>
                <th class="text-info" data-sortable="false">Ações</th>
            </tr>
        </thead>
    </table>
}

<div class="modal-loading" id="modal-loading" style="display:none;">
    <div>
        <div>
            <img src="~/Content/images/preloader03.gif" class="modal-img" />
            <span>Carregando...</span>
        </div>
    </div>
</div>

@section Scripts {
    @{Html.RenderPartial("_DataTableReferenciaJS");}
    <script src="~/Scripts/datatables/sam-assetPending-datatable.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script>
            sam.transaction.controleTransacaoIndexPadrao('@HttpContext.Current.User.Identity.Name', '@HttpContext.Current.Request.CurrentExecutionFilePath');
            $(document).ready(function () {
                let assetPendingDataTable = new AssetPendingDataTable();
                assetPendingDataTable.Load('#formAssetPending');
            });
    </script>
}
