@model SAM.Web.Models.Signature

@{ViewBag.Title = "Detalhes da Assinatura";}

<h2>@ViewBag.Title - @Model.Name </h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Post)</dt>
        <dd>@Html.DisplayFor(model => model.Post)</dd>

        <dt></dt>
        <dd>
            <div class="form-group">
                @Html.Partial("_EditButtons")
            </div>
        </dd>
    </dl>
</div>

@section Scripts {
    <script>
        sam.transaction.controleTransacaoDetailsPadrao('@HttpContext.Current.User.Identity.Name', '@HttpContext.Current.Request.CurrentExecutionFilePath');
    </script>
}