@model SAM.Web.ViewModels.PlateBarCodeViewModel

@{
    Layout = null;
}

<script>
    $(function () {
        $('.colorpicker').colorpicker({
            colorSelectors: {
                'black': '#000000',
                'white': '#ffffff',
                'red': '#FF0000',
                'default': '#777777',
                'primary': '#337ab7',
                'success': '#5cb85c',
                'info': '#5bc0de',
                'warning': '#f0ad4e',
                'danger': '#d9534f'
            },
            format: 'hex'
        });

        //Desabilita campos de numeração de novas chapas, caso a opção de gerar chapas não esteja checada
        $("#geraNovasChapas").change(function () {
            if (this.checked) {

                //Seta sempre como código de barras 
                $('input[name=TypeReading][value=0]').prop('checked', true);

                $('#numChapaInicioGerar').removeAttr('disabled', 'disabled');
                $('#numChapaFimGerar').removeAttr('disabled', 'disabled');
            }
            else {

                $('#numChapaInicioGerar').attr('disabled', 'disabled');
                $('#numChapaFimGerar').attr('disabled', 'disabled');
            }
        });

        //Impede que exista a possibilidade de gerar novas chapas para QrCode
        $('input[name=TypeReading][value=1]').click(function () {
            if ($('#geraNovasChapas').is(':checked')) {
                $('#geraNovasChapas').click();
            }
        })

    });
</script>

<div class="modal fade modalView" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Opções de Impressão</h4>
            </div>
            <div class="modal-body">

                <div id="errorMessageGeraChapas" class="col-md-12 alert alert-danger" style="display: none">
                    <strong>Mensagem: &nbsp;</strong> <div>Registro possui inconsistências.</div>
                </div>

                <div class="col-md-12">
                    @Html.LabelFor(model => model.TypeReading, "Tipo de Leitura:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.RadioButtonFor(model => model.TypeReading, 0, new { @checked = "checked" }) &nbsp; @Html.Label("Código de Barras") &nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.TypeReading, 1) &nbsp; @Html.Label("QR Code")
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 5px;">
                    @Html.LabelFor(model => model.ColorPlate, "Cor da Chapa:", htmlAttributes: new { @class = "control-label col-md-4", @style = "margin-top: 12px" })
                    <div class="col-md-7 input-group colorpicker-component colorpicker input-append color" data-color-format="hex">
                        @Html.EditorFor(model => model.ColorPlate, new { htmlAttributes = new { @class = "form-control", @value = "primary", @format = "alias" } })
                        <span class="input-group-addon"><i></i></span>
                        @Html.ValidationMessageFor(model => model.ColorPlate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="panel panel-default col-md-11" style="padding: 0 0 0 0;display:table-row; margin-left: 5%;margin-top: 15px;">
                    <div class="col-md-2"></div>

                    <div class="panel-heading"> @Html.CheckBoxFor(model => model.geraNovasChapas) &nbsp; Gerar novas chapas</div>
                    <div class="panel-body">
                        <div id="geraChapas" class="form-group" style="display:table-row;">
                            @Html.LabelFor(model => model.numChapaInicioGerar, "De:", htmlAttributes: new { @class = "control-label", @style = "float: left"  })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.numChapaInicioGerar, new { htmlAttributes = new { @class = "form-control", @type = "number", @disabled="disabled" } })
                                @Html.ValidationMessageFor(model => model.numChapaInicioGerar, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.numChapaFimGerar, "Até:", htmlAttributes: new { @class = "control-label", @style = "float: left" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.numChapaFimGerar, new { htmlAttributes = new { @class = "form-control", @type = "number", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.numChapaFimGerar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" value="Ok" onclick="reportPlateBarCode.ValidaGeracao();" />
            </div>
        </div>
    </div>
</div>